Repository ACCESS-NRI/build-ci, pull requests merged in 2023-09, with the labels that each got.

#96 base-spack: install the compiler earlier
  README.md
  containers/Dockerfile.base-spack
  containers/compilers.json
  util/build_dockerfile.build.sh
Labels: enhancement

#98 Standardized env and arg vars to use curly braces
  containers/Dockerfile.access-om2
  containers/Dockerfile.access-om3
  containers/Dockerfile.base-spack
  containers/setup-spack-envs.sh
Labels: enhancement, priority:low

#99 JSON Schema and JSON Validation CI
  .github/workflows/json-lint.yml
  containers/compilers.schema.json
  containers/models.schema.json
Labels: enhancement, priority:low

#97 Merged Dockerfile.access-om*, all models reference models.json
  .github/workflows/build-and-push-image-build.yml
  .github/workflows/build-package.yml
  .github/workflows/dependency-image-build.yml
  .github/workflows/dependency-image-pipeline.yml
  containers/Dockerfile.access-om3
  containers/Dockerfile.dependency
Labels: enhancement, priority:low

#101 Renamed workflow files to be more readable
  .github/workflows/build-docker-image.yml
  .github/workflows/dep-image-1-start.yml
  .github/workflows/dep-image-2-build-base.yml
  .github/workflows/dep-image-3-build.yml
  .github/workflows/json-1-validate.yml
  .github/workflows/model-1-build.yml
Labels: enhancement, priority:low

#103 Get full history of the branch so `git describe --tags ...` works correctly
  .github/workflows/model-1-build.yml
Labels: bug, priority:blocker

#100 Readme and documentation updates
  README-DEV.md
  README.md
Labels: documentation, priority:medium

#107 Make JSON validation workflow reusable
  .github/workflows/json-1-validate.yml
  .github/workflows/validate-json.yml
  README-DEV.md
  README.md
Labels: enhancement, priority:low

#109 Move configuration `*.json` files from `containers` to `config`
  .github/workflows/dep-image-1-start.yml
  .github/workflows/dep-image-3-build.yml
  .github/workflows/json-1-validate.yml
  .github/workflows/model-1-build.yml
  README-DEV.md
  README.md
  config/compilers.json
  config/compilers.schema.json
  config/models.json
  config/models.schema.json
Labels: enhancement, priority:low
